{{ primary_dg_connect_identifier }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ primary_scan_name }})(PORT = {{ listener_port }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ primary_dg_service_name }})
    )
  )

{{ standby_dg_connect_identifier }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ standby_scan_name }})(PORT = {{ listener_port }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ standby_dg_service_name }})
    )
  )

{{ rac_db_name }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ primary_scan_name }})(PORT = {{ listener_port }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ rac_db_name }})
    )
  )

