public_cidr         = "192.168.110.0/24"
private_cidr        = "192.168.120.0/24"
management_cidr     = "192.168.130.0/24"
public_gateway      = "192.168.110.1"
management_gateway  = "192.168.130.1"

service_name        = "db.company.local"
service_target      = "scan-standby.company.local"
scan_name           = "scan-standby.company.local"
scan_ips            = ["192.168.110.101", "192.168.110.102", "192.168.110.103"]

host_records = [
  { name = "rac-node3.company.local", value = "192.168.110.11" },
  { name = "rac-node4.company.local", value = "192.168.110.12" }
]
